.hero-frame-top {
  position: sticky;
  height: var(--frame-thickness);
  top: 0;
  background: #111;
  z-index: 2;
}

.hero-frame-bottom {
  height: var(--frame-thickness);
  background: #111;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.hero-frame {
  section {
    width: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
    &.sticky {
      position: sticky;
      top: 0;
    }
  }

  section.esports-platform {
    height: 50vh;
  }
}
