h2 {
  font-size: 2em;
}
.hero-frame-top {
  position: sticky;
  height: var(--frame-thickness);
  top: 0;
  background: #111;
  z-index: 2;
}
.hero-frame-bottom {
  height: var(--frame-thickness);
  background: #111;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 2;
}
.hero-frame {
  border-left: var(--frame-thickness) solid #111;
  border-right: var(--frame-thickness) solid #111;
}
.hero-frame section {
  width: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}
.hero-frame section.sticky {
  position: sticky;
  top: 0;
}
.hero-frame section.intro {
  z-index: 0;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  min-height: 50vh;
}
.hero-frame section.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-frame section.esports-platform {
  height: 50vh;
}
